$font-size: 16px;
$font-size--middle: 14px;
$font-size--h2: 46px;
$font-size--h3: 20px;

$font-family: "Roboto Condensed", "Arial", sans-serif;
$font-family-mono: "PT Mono", "Arial", sans-serif;

$yellow-pink: #fe7865;
$burnt-sienna: #f17d4b;
$very-dark: #1f1f1f;
$text-dark: #2c2e3f;
$white: #ffffff;
$modal-text: #48494d;
$gray: #d7d9df;
$gray--lighter: #293642;
$black: #000000;
$white: #ffffff;
$cyan: #0ad9c6;
$white-op: rgba(255, 255, 255, 0.7);
$white-op1: rgba(255, 255, 255, 1);
$black-bg: rgba(0, 0, 0, 0.5);
$black-bg1: rgba(0, 0, 0, 0.7);
$gray-bg: #f6f7f9;

$bg-light: #fbf8f8;
$background-hero: #3a6683;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
